@media screen and (min-width: 1090px) {
    .Image-container {
        min-width: 440px;
        max-width: 441px;
        border: 1px solid #616afb;
    }

    .Header-col-name {
        min-height: 50px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        color: #616afb;
    }

    .Canvas-container {
        position: relative;
        text-align: center;
        min-width: 440px;
        max-width: 441px;
        min-height: 440px;
    }

    .Svg-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .Cur-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .Prev-hits-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 1089px) {
    .Image-container {
        min-width: 445px;
        min-height: 445px;
    }

    .Header-col-name {
        min-height: 50px;
        text-align: center;
        margin: 0 auto;
        box-sizing: border-box;
        color: #616afb;
        border-bottom: #616afb;
    }

    .Canvas-container {
        position: center;
        text-align: center;
        min-width: 445px;
        min-height: 440px;
    }

    .Svg-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 1px;
        right: 0;
        text-align: center;
        border-left: #616afb;
    }

    .Cur-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 1px;
        right: 0;
        text-align: center;
        border-left: #616afb;
    }

    .Prev-hits-graph {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 1px;
        right: 0;
        text-align: center;
        border-left: #616afb;
    }
}