.Table-container {
    min-width: 440px;
    box-shadow: 0 0 5px #616afb;
}

.ResultTable-table {
    width: 100%;
    min-width: 440px;
    border-bottom: 1px solid #616afb;
    border-top: 1px solid #616afb;
}

thead {
    max-height: 10px;
    height: 10%;
    width: 100%;
    border: 1px solid #616afb;
}

.ResultTable-column-name {
    text-align: center;
    min-height: 50px;
    width: 100%;
    color: #616afb;
}

#Column-name-X {
    width: 20%;
    min-width: 10px;
    border: 1px solid #616afb;
}

#Column-name-Y {
    width: 20%;
    min-width: 10px;
    border: 1px solid #616afb;
}

#Column-name-R {
    width: 20%;
    min-width: 10px;
    border: 1px solid #616afb;
}

#Column-name-Hit {
    max-width: 100px;
    min-width: 50px;
    width: 25%;
    border: 1px solid #616afb;
}
