.Table-container {
    min-width: 440px;
    box-shadow: 0 0 5px #616afb;
    min-height: 650px;
}

#names {
    width: 100%;
    display: table;
}

.row-table {
    display: table;
    width: 100%;
    float: left;
    text-align: center;
}

.x-column, .y-column, .r-column {
    min-width: 10px;
    display: table-cell;
    table-layout: fixed;
    width: 20%;
    box-sizing: border-box;
    max-height: 20px;
    border-right: 1px solid #616afb;
}

.hitResult-column {
    min-width: 50px;
}

.ResultTable-table {
    width: 100%;
    min-width: 440px;
    border-bottom: 1px solid #616afb;
    overflow-scrolling: auto;
    min-height: 650px;
    max-height: 650px;
    overflow: scroll;
}

thead {
    max-height: 10px;
    height: 10%;
    width: 100%;
    border: 1px solid #616afb;
}

.row-table {
    border: 1px solid #616afb;
}

.ResultTable-column-name {
    text-align: center;
    min-height: 50px;
    width: 100%;
    color: #616afb;
    border-top: 1px solid #616afb;
    height: 50px;
    display: inline-block;
}

#Column-name-X {
    min-width: 10px;
    border: 1px solid #616afb;
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    max-height: 20px;
}

#Column-name-Y {
    min-width: 10px;
    border: 1px solid #616afb;
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    max-height: 20px;
}

#Column-name-R {
    min-width: 10px;
    border: 1px solid #616afb;
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    max-height: 20px;
}

#Column-name-Hit {
    min-width: 50px;
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
    border: 1px solid #616afb;
    max-height: 20px;
}
