.MainPage-connect-stat {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    color: floralwhite;
    margin-bottom: 5%;
    max-height: 100px;
}

@media screen and (min-width: 1090px) {
    .Main-div {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10%;
        font-weight: bolder;
        height: 600px;
        min-height: 650px;
    }

    .MainPage-table {
        width: 100%;
        display: table;
        border: 1px solid #616afb;
        height: 600px;
    }
}

@media screen and (max-width: 1089px) {
    .MainPage-table {
        width: 100%;
        display: table;
        border: 1px solid #616afb;
        font-weight: bolder;
    }
}