@media screen and (min-width: 1090px) {
    .Main-div {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-weight: bolder;
        max-height: 600px;
    }

    .MainPage-table {
        width: 100%;
        display: table;
        min-height: 490px;
        border: 1px solid #616afb;
        max-height: 600px;
    }
}

@media screen and (max-width: 1089px) {
    .MainPage-table {
        width: 100%;
        display: table;
        border: 1px solid #616afb;
        font-weight: bolder;
    }
}